body {
  touch-action: pan-x pan-y;
}

.content {
  text-align: center;
  font-size: 50px;
}

.next-code {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  font-size: 18px;
}

.last-updated {
  margin-top: 50px;
  font-size: 12px;
}
