body {
  touch-action: pan-x pan-y;
}

.content {
  text-align: center;
  font-size: 40px;
}

.next-code {
  margin-top: 10px;
  font-size: 20px;
}

.info {
  font-size: 18px;
}

.last-updated {
  margin-top: 50px;
  font-size: 12px;
}
